
  <!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="img/about-us.png" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<p class="top_text">About me <span></span></p>
						<h4>
						Student in major Software Engineering
						</h4
                        >
						<p>
		{{myData.about1}}

						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
    
	<div class="container">
    <div class="col-lg-5">
                <div class="portfolio_right_text mt-30">
                      <h4 class="text-uppercase">Personal information</h4>
                        <ul class="list"></ul>
                    {{#with myData.PN}}
                        <li><span>high</span>:  {{high}} </i><i
                        class="fa fa-star"></i></li>
                        <li><span>weight</span>: {{weight}}</li>
                        <li><span>Email</span>: {{Email}}</li>
                        <li><span>Facebook</span>: {{Facebook}}</li>
                        <li><span>Address</span>: {{Address}}</li>

                    </ul>
                     {{/with}}
                </div>
                </div>
              </div>
  <!--================ End About Us Area =================-->
  <br><br><br><br><br><br>
  
